<template>
  <form id="dockerun" class="bg-white rounded md:pr-8 pt-2 pb-4 mb-6" :style="{ boxShadow: boxShadow }">

    <div class="flex">
      <div class="flex-initial hidden md:block mx-3">
        <ActionButtons
            :action-buttons="actionButtons"
            :show-name="false"
            class="mt-5"
            @action="$emit('action', {
              containerId: id,
              action: $event
            })"
        />
      </div>
      <div class="flex-auto ml-5 md:ml-0">
        <p class="text-2xl truncate mt-2">
          <span v-if="image" class="hidden lg:inline-block mr-2">
            <img :src="image.image || 'img/images/' + image.name.replace('/', '-') + '.png'" class="inline-block" style="height: 64px" :alt="image.commonName + ' logo'"/>
          </span><span class="font-bold">{{ containerName || defaultContainerName || 'Container' }}</span>
        </p>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/3 pr-3">
            <div class="mb-4">
              <p class="block text-gray-700 text-sm font-bold mb-2">&zwnj;</p>
              <LabelInput id="containerName" label="Container name" icon="cube" :placeholder="defaultContainerName || 'Container name'" @input="input('name', null, $event)" />
            </div>
            <template v-if="image === null">
              <div class="mb-3">
                <LabelInput id="imageName" label="Image" placeholder="Image" icon="atom" @input="suggestImages" />
              </div>
              <div class="mb-6">
                <template v-if="suggestedImages !== null">
                  <p v-if="suggestedImages.length === 0" class="text-gray-500 text-sm">
                    No images found
                  </p>
                  <template v-else>
                    <ImageItem v-for="image in suggestedImages" :key="image.name" :image="null" :value="image.name" :name="image.name" :commonName="image.commonName" :description="image.description" @click="selectImage" class="imageitem py-3 cursor-pointer transition ease-in-out duration-200 outline-none p-3" />
                  </template>
                </template>
                <div v-else class="text-gray-500 text-sm">
                  <p class="block">Search by typing more than 3 characters.</p>
                  <p class="block">Commonly used keywords:</p>
                  <button v-for="keyword in COMMONLY_USED_KEYWORDS" :key="keyword.keyword" @click.prevent="suggestImages(keyword.keyword)" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded mr-1 transition ease-in-out duration-200">
                    <font-awesome-icon v-if="keyword.icon" :icon="keyword.icon" class="mr-1" />
                    {{ keyword.keyword }}
                  </button>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="mb-6">
                <div class="flex mb-4">
                  <div class="flex-1">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                      <font-awesome-icon icon="atom" />
                      Selected image
                    </p>
                  </div>
                  <div class="flex-1">
                    <button @click.prevent="changeImage"
                            class="text-xs float-right bg-transparent hover:bg-orange-500 focus:bg-orange-500 text-orange-500 font-semibold hover:text-white focus:text-white pt-1 pb-1 px-2 border border-orange-500 hover:border-transparent rounded transition ease-in-out duration-200">
                      <font-awesome-icon icon="pencil-alt" />
                      Change
                    </button>
                  </div>
                </div>

                <ImageItem :show-image="false" :value="image.name" :name="image.name" :commonName="image.commonName" :description="image.description" :link="image.link" class="outline-none" style="margin-top: -1rem" />
              </div>
              <div class="mb-6">
                <p class="block text-gray-700 text-sm font-bold mb-2">
                  <font-awesome-icon icon="copy" />
                  Version
                </p>
                <div class="inline-block relative">
                  <select @change="selectVersion($event.target.value)" class="w-full block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 pt-2 pb-1 pr-8 rounded shadow focus:outline-none focus:shadow-outline transition ease-in-out duration-200">
                    <option v-for="version in image.versions" :key="version">{{ version }}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
            </template>
          </div>
          <div class="w-full md:w-2/3 md:pl-3">
            <template v-if="image === null">
              <p class="h-full text-2xl text-center lg:pt-10 lg:mt-10">
                <font-awesome-icon icon="atom" /><br/>
                Select an image
              </p>
            </template>
            <template v-else>
              <template v-if="version !== null">

                <div class="md:grid md:grid-cols-2 md:gap-5 pr-5 md:pr-0">
                  <div class="mb-6" v-if="availableEnvs.length > 0">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                      <font-awesome-icon icon="sliders-h" class="mr-1" />
                      Options
                    </p>

                    <div v-for="env in availableEnvs" :key="env.env">
                      <LabelInput :id="'env_' + env.env" :label="env.env" :placeholder="env.env" :type="env.type" @input="input('env', env.env, $event)" />
                      <p class="text-gray-500 text-xs my-3">{{ env.description }}</p>
                    </div>

                    <p v-if="availableEnvs.length === 0" class="text-gray-500 text-xs mt-1">This image & version has no options</p>
                  </div>

                  <div class="mb-6" v-if="availablePorts.length > 0">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                      <font-awesome-icon icon="door-open" class="mr-1" />
                      Ports
                    </p>

                    <div v-for="port in availablePorts" :key="port.port">
                      <LabelInput type="number" :min="0" :max="65535" :id="'port_' + port.port" :label="port.port.toString()" :placeholder="port.port.toString()" @input="input('port', port.port, $event)" />
                      <p class="text-gray-500 text-xs my-3">{{ port.description }}</p>
                    </div>

                    <p v-if="availablePorts.length === 0" class="text-gray-500 text-xs mt-1">This image & version has no port mappings</p>
                  </div>

                  <div class="mb-6" v-if="availableVolumes.length > 0">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                      <font-awesome-icon icon="hdd" class="mr-1" />
                      Volumes
                    </p>

                    <div v-for="volume in availableVolumes" :key="volume.volume">
                      <LabelInput :id="'volume_' + volume.volume" :label="volume.volume.toString()" :placeholder="volume.volume.toString()" @input="input('volume', volume.volume, $event)" />
                      <p class="text-gray-500 text-xs my-3">{{ volume.description }}</p>
                    </div>

                    <p v-if="availableVolumes.length === 0" class="text-gray-500 text-xs mt-1">This image & version has no volume mappings</p>
                  </div>

                  <div class="mb-6" v-if="availableLinks.length > 0">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                      <font-awesome-icon icon="link" class="mr-1" />
                      Links
                    </p>

                    <div v-for="link in availableLinks" :key="link.link">
                      <LabelInput :id="'volume_' + link.link" :label="link.link.toString()" :placeholder="link.link.toString()" @input="input('link', link.link, $event)" />
                      <p class="text-gray-500 text-xs my-3">{{ link.description }}</p>
                    </div>

                    <p v-if="availableLinks.length === 0" class="text-gray-500 text-xs mt-1">This image & version has no link with other containers</p>
                  </div>
                </div>
              </template>
            </template>
          </div>
          <div v-if="image !== null" class="w-full">
            <a @click="showAdvanced = !showAdvanced" class="text-xs bg-transparent hover:bg-blue-500 focus:bg-blue-500 text-blue-500 font-semibold hover:text-white focus:text-white pt-1 pb-1 px-2 border border-blue-500 hover:border-transparent focus:border-transparent rounded transition ease-in-out duration-200 cursor-pointer">
              <font-awesome-icon icon="tasks" />
              Advanced options
            </a>

            <div v-show="showAdvanced" class="shadow-lg p-3 rounded w-full mt-2">
              <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 md:pr-3">
                  <LabelInput id="restartPolicy" label="Restart policy" icon="redo-alt" placeholder="Restart policy" @change="input('restartPolicy', null, $event)" :tagType="1" :options="RESTART_POLICIES" />
                </div>
                <div class="w-full md:w-1/2 md:pl-3">
                  <p class="hidden md:block text-gray-700 text-sm font-bold">&zwnj;</p>
                  <p class="text-gray-500 text-xs mt-2 md:my-3">{{ restartPolicy.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ActionButtons
            :action-buttons="actionButtons"
            class="md:hidden my-3"
            @action="$emit('action', $event)"
        />
      </div>
    </div>

  </form>
</template>

<script lang="ts">
  import Vue from 'vue';

  import LabelInput from "@/components/LabelInput.vue";
  import ImageItem from "@/components/ImageItem.vue";
  import ActionButtons from "@/components/ActionButtons.vue";

  import DockerConfig from "@/model/DockerConfig";
  import IImage from "@/interface/IImage";
  import IEnv from "@/interface/IEnv";
  import IPort from "@/interface/IPort";
  import IVolume from "@/interface/IVolume";
  import ILink from "@/interface/ILink";
  import IActionItem from '@/interface/IActionItem';

  import RestartPolicy from "@/model/RestartPolicy";
  import { RESTART_POLICIES } from "@/common/restart-policies";

  interface IKeyword {
    keyword: string;
    icon: string;
  }

  export default Vue.extend({
    name: 'ContainerCreator',
    components: {
      LabelInput,
      ImageItem,
      ActionButtons
    },
    props: {
      id: {
        type: String
      },
      defaultContainerName: {
        type: String,
        default: null
      },
      images: {
        type: Array as () => IImage[],
        default: []
      },
      showGenerateButton: {
        type: Boolean,
        default: false
      },
      containersCount: {
        type: Number,
        default: 1
      },
      actionButtons: {
        type: Array as () => IActionItem[],
        default: []
      }
    },
    data: () => {
      return {
        COMMONLY_USED_KEYWORDS: [
          {
            keyword: 'database',
            icon: 'database'
          },
            {
            keyword: 'http',
            icon: 'globe-europe'
          },
            {
            keyword: 'cloud',
            icon: 'cloud'
          }
        ] as IKeyword[],

        RESTART_POLICIES: RESTART_POLICIES,

        suggestedImages: null as IImage[] | null,
        availableEnvs: null as IEnv[] | null,
        availablePorts: null as IPort[] | null,
        availableVolumes: null as IVolume[] | null,
        availableLinks: null as ILink[] | null,

        // Selections
        containerName: null as string | null,
        image: null as IImage | null,
        version: '' as string | null,
        envs: {} as {[key: string]: string},
        ports: {} as {[key: string]: string},
        volumes: {} as {[key: string]: string},
        links: {} as {[key: string]: string},

        showAdvanced: false as boolean,
        restartPolicy: RESTART_POLICIES[0] as RestartPolicy,
      }
    },
    computed: {
      boxShadow: function () {
        return '0 0 26px -8px ' + (this.image !== null && this.image.color ? this.image.color : 'lightgray');
      }
    },
    methods: {
      suggestImages: function (event: string) {
        const value = event.trim().toLowerCase();
        if (value === "" || value.length < 3) {
          this.suggestedImages = null;
        } else {
          const MAX_RESULTS = 5;
          const exploded = value.split(' '); // User input gets divided into an array
          this.suggestedImages = []; // Suggested images array gets initialized to an empty array

          let i = 0;
          for (const image of this.images) { // For each image in images.json
            let foundKeywords = true; // Keyword is found by default
            for (const keyword of exploded) { // Iterates words in user input
              if (!image.keywords.includes(keyword)) { // If the current image has not every keyword from user input, the image gets rejected (at least for its keywords)
                foundKeywords = false;
                break;
              }
            }

            if (image.name.toLowerCase().indexOf(value) > -1 || // If the image's name is contains user input, the image is valid and gets shown
                    foundKeywords) {
              this.suggestedImages.push(image);
              i++;
            }

            if (i >= MAX_RESULTS) { // Iterates for a max of MAX_RESULTS valid images
              break;
            }
          }

          if (this.suggestedImages.length > 0) {
            this.suggestedImages.sort((a, b) => { // Arrow function to sort images by commonName
              const commonNameA = a.commonName.toUpperCase();
              const commonNameB = b.commonName.toUpperCase();

              let comparison = 0;
              if (commonNameA > commonNameB) {
                comparison = 1;
              } else if (commonNameA < commonNameB) {
                comparison = -1;
              }
              return comparison;
            });
          }
        }
      },
      selectImage: function (imageName: string) {
        if (this.suggestedImages) {
          this.image = this.suggestedImages.find(image => image.name === imageName) || null;
          this.suggestedImages = null; // Removes list of suggested images
          this.selectVersion('latest'); // Automatically set version to latest
        }
      },
      selectVersion: function (version: string) {
        this.$emit('update:showGenerateButton', true);
        this.version = version; // If from HTML event, use that otherwise threat version as a string type (like "8.0")

        if (this.image?.envs) {
          this.availableEnvs = this.image.envs.filter(env => env.versions.includes(this.version || ''));
        } else {
          this.availableEnvs = [];
        }

        if (this.image?.ports) {
          this.availablePorts = this.image.ports.filter(port => port.versions.includes(this.version || ''));
        } else {
          this.availablePorts = [];
        }

        if (this.image?.volumes) {
          this.availableVolumes = this.image.volumes.filter(volume => volume.versions.includes(this.version || ''));
        } else {
          this.availableVolumes = [];
        }

        if (this.image?.links) {
          this.availableLinks = this.image.links.filter(link => link.versions.includes(this.version || ''));
        } else {
          this.availableLinks = [];
        }
        this.input(null, null, null);
      },
      changeImage: function() {
        this.image = null;
        this.version = null;
        this.envs = {};
        this.ports = {};
        this.volumes = {};
        this.links = {};
        this.input('restartPolicy', null, RESTART_POLICIES[0].value);
        this.input(null, null, null);
      },
      input: function (type: string | null, id: string | null, value: string | null) {
        value = value || null;
        if (type === 'name') {
          this.containerName = value !== null ? DockerConfig.normalizeContainerName(value) : null;
        } else if (type === 'restartPolicy') {
          this.restartPolicy = RESTART_POLICIES.find(p => p.value === value) || RESTART_POLICIES[0];
        } else if (type !== null && id !== null) {
          switch (type) {
            case 'env':
              if (value === null) {
                delete this.envs[id];
              } else {
                this.envs[id] = value;
              }
              break;
            case 'port':
              if (value === null) {
                delete this.ports[id];
              } else {
                this.ports[id] = value;
              }
              break;
            case 'volume':
              if (value === null) {
                delete this.volumes[id];
              } else {
                this.volumes[id] = value;
              }
              break;
            case 'link':
              if (value === null) {
                delete this.links[id];
              } else {
                this.links[id] = value;
              }
              break;
          }
        }

        this.$emit('content-updated', this.image && this.version ? new DockerConfig(this.containerName || this.defaultContainerName, this.image, this.version, this.envs, this.ports, this.volumes, this.links, this.restartPolicy.value) : null); // Sends DockerConfig if image is selected, otherwise sends null
      }
    }
  });
</script>
