<template>
  <div class="flex mb-4" @click="$emit('click', name)" tabindex="0">
    <div v-if="showImage" class="w-1/4">
      <img :src="imagePath" class="w-auto pr-3" :alt="commonName + ' logo'"/>
    </div>
    <div :class="{'w-3/4': showImage, 'w-4/4': !showImage}">
      <h3 class="text-lg font-bold">{{ commonName }}</h3>
      <p class="text-sm">{{ description }}</p>
      <a :href="link" v-if="link" target="_blank" class="text-xs bg-transparent hover:bg-blue-500 focus:bg-blue-500 text-blue-500 font-semibold hover:text-white focus:text-white pt-1 pb-1 px-2 border border-blue-500 hover:border-transparent focus:border-transparent rounded transition ease-in-out duration-200">
        <font-awesome-icon icon="link" />
        Link
      </a>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'ImageItem',
    props: {
      image: String,
      name: String,
      commonName: String,
      description: String,
      link: String,
      showImage: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      imagePath: function () {
        const fileName = this.image || (this.name.replace('/', '-'));
        return `img/images/${fileName}.png`;
      }
    }
  });
</script>

<style lang="scss">
.imageitem {
  &:hover, &:focus {
    background-color: #ecf7fd;
  }
}
</style>
