<template>
  <div id="app">
    <Menu />
    <router-view/>
    <Footer class="my-10"/>
  </div>
</template>

<style lang="scss">
  @import "./assets/app.scss";

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>

<script lang="ts">
  import Vue from 'vue';
  import Menu from '@/components/Menu.vue';
  import Footer from '@/components/Footer.vue';

  export default Vue.extend({
    components: {
      Menu,
      Footer
    }
  });
</script>
